@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

.cute-ghost-template {
	background: #d3deea;
	width: 100%;
	height: 100%;
}

.cute-ghost-template .top {
	margin-top: 30px;
}

.cute-ghost-template .container {
	margin: 0 auto;
	position: relative;
	width: 250px;
	height: 250px;
	margin-top: -40px;
}

.cute-ghost-template .ghost {
	width: 50%;
	height: 53%;
	left: 25%;
	top: 10%;
	position: absolute;
	border-radius: 50% 50% 0 0;
	background: #ededed;
	border: 1px solid #bfc0c0;
	border-bottom: none;
	animation: floatGhost 2s ease-out infinite;
}

.cute-ghost-template .ghost-copy {
	width: 50%;
	height: 53%;
	left: 25%;
	top: 10%;
	position: absolute;
	border-radius: 50% 50% 0 0;
	background: #ededed;
	border: 1px solid #bfc0c0;
	border-bottom: none;
	animation: floatGhost 2s ease-out infinite;
	z-index: 0;
}

.cute-ghost-template .face {
	position: absolute;
	width: 100%;
	height: 60%;
	top: 20%;
}

.cute-ghost-template .eye,
.cute-ghost-template .eye-right {
	position: absolute;
	background: #585959;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	top: 40%;
}

.cute-ghost-template .eye {
	left: 25%;
}

.cute-ghost-template .eye-right {
	right: 25%;
}

.cute-ghost-template .mouth {
	position: absolute;
	top: 50%;
	left: 45%;
	width: 10px;
	height: 10px;
	border: 3px solid;
	border-radius: 50%;
	border-color: transparent #585959 #585959 transparent;
	transform: rotate(45deg);
}

.cute-ghost-template .one,
.cute-ghost-template .two,
.cute-ghost-template .three,
.cute-ghost-template .four {
	position: absolute;
	background: #ededed;
	top: 85%;
	width: 25%;
	height: 23%;
	border: 1px solid #bfc0c0;
	z-index: 0;
}

.cute-ghost-template .one {
	border-radius: 0 0 100% 30%;
	left: -1px;
}

.cute-ghost-template .two {
	left: 23%;
	border-radius: 0 0 50% 50%;
}

.cute-ghost-template .three {
	left: 50%;
	border-radius: 0 0 50% 50%;
}

.cute-ghost-template .four {
	left: 74.5%;
	border-radius: 0 0 30% 100%;
}

.cute-ghost-template .shadow {
	position: absolute;
	width: 30%;
	height: 7%;
	background: #bfc0c0;
	left: 35%;
	top: 80%;
	border-radius: 50%;
	animation: scale 2s infinite;
}

@keyframes scale {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes floatGhost {
	50% {
		transform: translateY(15px);
	}
}

.cute-ghost-template .bottom {
	margin-top: 10px;
}

.cute-ghost-template h1 {
	font-family: 'Abril Fatface', serif;
	color: #ededed;
	text-align: center;
	font-size: 9em;
	margin: 0;
	text-shadow: -1px 0 #bfc0c0, 0 1px #bfc0c0, 1px 0 #bfc0c0, 0 -1px #bfc0c0;
}

.cute-ghost-template h3 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	color: #bfc0c0;
	margin-top: -20px;
	font-weight: 900;
}

.cute-ghost-template p {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #585959;
	font-size: 0.6em;
	margin-top: -20px;
	text-transform: uppercase;
}

.cute-ghost-template .search {
	text-align: center;
}

.cute-ghost-template .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.cute-ghost-template .search-bar {
	border: 1px solid #bfc0c0;
	padding: 5px;
	height: 20px;
	margin-left: -30px;
	width: 200px;
	outline: none;
}

.cute-ghost-template .search-bar:focus {
	border: 1px solid #d3deea;
}

.cute-ghost-template .search-btn {
	position: absolute;
	width: 30px;
	height: 32px;
	border: 1px solid #bfc0c0;
	background: #bfc0c0;
	text-align: center;
	color: #ededed;
	cursor: pointer;
	font-size: 1em;
	outline: none;
}

.cute-ghost-template .search-btn:hover {
	background: #ededed;
	border: 1px solid #ededed;
	color: #bfc0c0;
	transition: all 0.2s ease;
}

.cute-ghost-template .btn {
	background: #ededed;
	padding: 15px 20px;
	margin: 5px;
	color: #585959;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 0.6em;
	letter-spacing: 1px;
	border: 0;
}

.cute-ghost-template .btn:hover {
	background: #bfc0c0;
	transition: all 0.4s ease-out;
}