.train {
	width: 100%;
	height: 100%;
}

.train .main {
	margin-top: 30vh;
}

.train .st0 {
	fill: #fff;
}

.train .st2 {
	fill: #5d89af;
}

.train .st3 {
	fill: #709abf;
}

.train .st4,
.train .st6 {
	fill: #fff;
	stroke: #b3dcdf;
	stroke-miterlimit: 10;
}

.train .st6 {
	stroke: #5d89af;
	stroke-width: 2;
}

.train .st7,
.train .st8,
.train .st9 {
	stroke: #709abf;
	stroke-miterlimit: 10;
}

.train .st7 {
	stroke-width: 5;
	stroke-linecap: round;
	fill: none;
}

.train .st8,
.train .st9 {
	fill: #fff;
}

.train .st9 {
	fill: none;
}

.train #cloud1 {
	animation: cloud003 15s linear infinite;
}

.train #cloud2 {
	animation: cloud002 25s linear infinite;
}

.train #cloud3 {
	animation: cloud003 20s linear infinite;
}

.train #cloud4 {
	animation: floatTrain 4s linear infinite;
}

.train #cloud5 {
	animation: floatTrain 8s linear infinite;
}

.train #cloud7 {
	animation: floatTrain 5s linear infinite;
}

.train #tracks {
	animation: slideTrain 650ms linear infinite;
}

.train #bumps {
	animation: landTrain 10000ms linear infinite;
}

@keyframes jig {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(1px);
	}

	100% {
		transform: translateY(0px);
	}
}

.train #car-layers {
	animation: jig 0.35s linear infinite;
}

@keyframes landTrain {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(1000px);
	}
}

@keyframes slideTrain {
	from {
		transform: translateX(0px);
	}

	to {
		transform: translateX(100px);
	}
}

@keyframes cloud001 {
	0% {
		transform: translateX(-1000px) translateY(3px);
	}

	100% {
		transform: translateX(1000px) translateY(0);
	}
}

@keyframes cloud002 {
	0% {
		transform: translateX(-1000px) translateY(3px);
	}

	100% {
		transform: translateX(1000px) translateY(0);
	}
}

@keyframes cloud003 {
	0% {
		transform: translateX(-1000px) translateY(3px);
	}

	100% {
		transform: translateX(1000px) translateY(0);
	}
}

@keyframes floatTrain {
	0% {
		transform: translateY(0px) translateX(0);
	}

	50% {
		transform: translateY(8px) translateX(5px);
	}

	100% {
		transform: translateY(0px) translateX(0);
	}
}

.train #bracefront,
.train #braceback {
	animation: braces 1s linear infinite;
}

@keyframes braces {
	0% {
		transform: translateX(-2px);
	}

	25% {
		transform: translateX(3px);
	}

	50% {
		transform: translateX(-2px);
	}

	75% {
		transform: translateX(3px);
	}

	100% {
		transform: translateX(-2px);
	}
}